body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(./bg.jpg);
    background-size: cover;
}
.box
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 40px;
    background: rgba(0, 0, 0, .8);
    box-sizing: border-box;
    box-shadow: 0 10px 25px rgba(0, 0, 0, .5);
    border-radius: 10px;
}
.box h2
{
   
    margin: 0 0 30px;
    padding: 0;
    text-align: center;
    color: #fff;
}
.box .inputbox
{
    position: relative;
}
.box .inputbox input

{
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 1px solid #fff;
}
.box .inputbox label
{
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.box .inputbox input:focus ~ label, .box .inputbox input:valid ~ label{
    top: -18px;
    left: 0;
    color: #03a9f4;
    font-size: 12px;
}
.box input[type="submit"]
{
    color: white;
    background: #03a9f4;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    /* margin-left: 110px; */
}

